---
layout: app
permalink: /about
navbar-class: is-slim
---
<div class="navbar-background"></div>
<section class="section">
    <div class="columns is-centered">
        <div class="column is-7">
            <figure class="image">
                <img src="{{ site.data.links.img.company }}" alt="Grafische Darstellung des Unternehmens AllergyAid">
            </figure>
        </div>
    </div>
    <h1 class="title has-margin-top has-text-centered">Lernen Sie unser Unternehmen kennen</h1>
    <div class="columns has-margin-top">
        <div class="column has-text-justified">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos illum sapiente aliquid mollitia
                nostrum harum labore itaque reprehenderit quod nesciunt. Quo necessitatibus voluptates, amet animi
                tempora minus repudiandae perspiciatis nulla officiis nam ad eligendi voluptate sint exercitationem
                similique neque asperiores?
            </p>
            <br>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus minima aliquid nesciunt nemo
                dolores dolor provident dolore porro mollitia doloribus?
            </p>
        </div>
        <div class="is-divider-vertical"></div>
        <div class="column has-text-justified">
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed placeat repellat nesciunt alias amet sint,
                excepturi consectetur iusto, obcaecati quos autem quibusdam, quis cupiditate provident eaque totam.
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, explicabo perspiciatis. Atque vitae
                minus libero.
            </p>
        </div>
    </div>
</section>
<section class="section">
    <h2 class="title has-text-centered">Unser Team</h2>
    <div class="columns has-margin-top">
        <div class="column">
            <figure class="image is-hover-black">
                <img src="{{ site.data.links.img.person-1 }}" alt="CEO, Manfred Hoehniger">
                <div class="hover-content">
                    <div class="has-text-centered">
                        <p class="has-text-white is-size-5">Manfred Hoehniger</p>
                        <p class="has-text-success is-size-5">CEO</p>
                        <br>
                        <p class="has-text-white is-smaller-responsive">m.hoehniger@allergyaid.com</p>
                        <p class="has-text-white is-smaller-responsive">+49 0264 375 032</p>
                    </div>
                </div>
            </figure>
        </div>
        <div class="column">
            <figure class="image is-hover-black">
                <img src="{{ site.data.links.img.person-2 }}" alt="Internationaler Vertrieb, Helena Russ">
                <div class="hover-content">
                    <div class="has-text-centered">
                        <p class="has-text-white is-size-5">Helena Russ</p>
                        <p class="has-text-success is-size-5">Internat. Vertrieb</p>
                        <br>
                        <p class="has-text-white is-smaller-responsive">h.russ@allergyaid.com</p>
                        <p class="has-text-white is-smaller-responsive">+49 0264 375 182</p>
                    </div>
                </div>
            </figure>
        </div>
        <div class="column">
            <figure class="image is-hover-black">
                <img src="{{ site.data.links.img.person-3 }}" alt="Qualitätssicherung, Christopher Clark">
                <div class="hover-content">
                    <div class="has-text-centered">
                        <p class="has-text-white is-size-5">Christopher Clark</p>
                        <p class="has-text-success is-size-5">Qualitätssicherung</p>
                        <br>
                        <p class="has-text-white is-smaller-responsive">c.clark@allergyaid.com</p>
                        <p class="has-text-white is-smaller-responsive">+49 0264 375 951</p>
                    </div>
                </div>
            </figure>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <figure class="image is-hover-black">
                <img src="{{ site.data.links.img.person-4 }}" alt="Forschung, Mai Zhaou">
                <div class="hover-content">
                    <div class="has-text-centered">
                        <p class="has-text-white is-size-5">Mai Zhaou</p>
                        <p class="has-text-success is-size-5">Forschung</p>
                        <br>
                        <p class="has-text-white is-smaller-responsive">m.zhaou@allergyaid.com</p>
                        <p class="has-text-white is-smaller-responsive">+49 0264 375 432</p>
                    </div>
                </div>
            </figure>
        </div>
        <div class="column">
            <figure class="image is-hover-black">
                <img src="{{ site.data.links.img.person-5 }}" alt="Marketing, Dieter Scholz">
                <div class="hover-content">
                    <div class="has-text-centered">
                        <p class="has-text-white is-size-5">Dieter Scholz</p>
                        <p class="has-text-success is-size-5">Marketing</p>
                        <br>
                        <p class="has-text-white is-smaller-responsive">d.scholz@allergyaid.com</p>
                        <p class="has-text-white is-smaller-responsive">+49 0264 375 765</p>
                    </div>
                </div>
            </figure>
        </div>
        <div class="column">
            <figure class="image is-hover-black">
                <img src="{{ site.data.links.img.person-6 }}" alt="Produktion, Katharina Stein">
                <div class="hover-content">
                    <div class="has-text-centered">
                        <p class="has-text-white is-size-5">Katharina Stein</p>
                        <p class="has-text-success is-size-5">Produktion</p>
                        <br>
                        <p class="has-text-white is-smaller-responsive">k.stein@allergyaid.com</p>
                        <p class="has-text-white is-smaller-responsive">+49 0264 375 721</p>
                    </div>
                </div>
            </figure>
        </div>
    </div>
</section>