---
layout: app
title: Kontakt |
permalink: /contact
navbar-class: is-slim
---
<div class="navbar-background"></div>
<section class="section">
    <h1 class="title has-margin-top">Treten Sie mit uns in Kontakt</h1>
    <div class="columns has-margin-top-small is-desktop">
        <div class="column is-multiline">
            <div class="columns">
                <div class="column">
                    <p class="is-size-5 is-uppercase">Anschrift</p>
                </div>
                <div class="column">
                    <p>Hinter der Ecke 45</p>
                    <p>78462 Konstanz</p>
                    <p>Deutschland</p>
                </div>
            </div>
            <div class="is-divider"></div>
            <div class="columns">
                <div class="column">
                    <p class="is-size-5 is-uppercase">Kontaktdaten</p>
                </div>
                <div class="column">
                    <div>
                        <p class="has-text-weight-semibold">Geschäftsführung:</p>
                        <p><span class="icon"><i class="fas fa-phone"></i></span> +49 0264 375 032</p>
                        <a href="#"><span class="icon"><i class="fas fa-envelope"></i></span> ceo@allergyaid.com</a>
                    </div>
                    <div class="has-margin-top-small">
                        <p class="has-text-weight-semibold">Kundenberatung:</p>
                        <p><span class="icon"><i class="fas fa-phone"></i></span> +49 0264 375 025</p>
                        <a href="#"><span class="icon"><i class="fas fa-envelope"></i></span> info@allergyaid.com</a>
                    </div>
                    <div class="has-margin-top-small">
                        <p class="has-text-weight-semibold">Verkauf:</p>
                        <p><span class="icon"><i class="fas fa-phone"></i></span> +49 0264 375 138</p>
                        <a href="#"><span class="icon"><i class="fas fa-envelope"></i></span> sales@allergyaid.com</a>
                    </div>
                    <div class="has-margin-top-small">
                        <p class="has-text-weight-semibold">Qualitätssicherung:</p>
                        <p><span class="icon"><i class="fas fa-phone"></i></span> +49 0264 375 076</p>
                        <a href="#"><span class="icon"><i class="fas fa-envelope"></i></span> qs@allergyaid.com</a>
                    </div>
                </div>
            </div>
            <div class="is-divider" data-content="Besuchen Sie uns!"></div>
            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6512.880637595781!2d9.171115633170537!3d47.661031168059054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479af6e278995c7d%3A0x8fbbb3ac6725b230!2sObermarkt%2C+78462+Konstanz!5e0!3m2!1sen!2sde!4v1558359325031!5m2!1sen!2sde"
                    width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="is-divider-vertical"></div>
        <div class="column">
            <p class="is-uppercase is-size-5">Schreiben Sie uns eine Nachricht</p>
            <form action="#" class="has-margin-top-small">
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input type="text" class="input" placeholder="Name" name="name" aria-label="Name" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-asterisk"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <input type="mail" class="input" placeholder="Email Adresse" name="mail"
                            aria-label="Email Adresse" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-asterisk"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left">
                        <input type="phone" class="input" placeholder="Telefonnummer" name="phone"
                            aria-label="Telefonnummer">
                        <span class="icon is-small is-left">
                            <i class="fas fa-phone"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <textarea class="textarea" placeholder="Ihre Nachricht an uns" name="message"
                        aria-label="Nachricht"></textarea>
                </div>
                <div class="is-divider"></div>
                <div class="field">
                    <p class="has-text-centered is-size-7">Mit der Verwendung dieser Form stimmen Sie der Verarbeitung
                        und
                        der Speicherung Ihrer Daten durch diese Webseite zu. Bitte lesen Sie unsere <a
                            href="#">Datenschutz
                            Richtlinien</a> für mehr Informationen darüber, wie wir Ihre Daten verarbeiten und nutzen.
                    </p>
                </div>
                <div class="field has-text-centered">
                    <input class="is-checkradio" type="checkbox" id="data_privacy" name="data_privacy"
                        aria-label="Datenschutz zustimmen">
                    <label for="data_privacy">Ich stimme zu</label>
                </div>
                <div class="field has-text-centered">
                    <button class="button is-primary" type="submit" aria-label="Absenden">Absenden</button>
                </div>
            </form>
        </div>
    </div>
</section>