---
layout: app
permalink: /imprint
navbar-class: is-slim
---
<div class="navbar-background"></div>
<h1 class="title has-margin-top">Impressum</h1>
<p>Martin Wundsam</p>
<p>Hüetlinstraße 34</p>
<p>78462 Konstanz</p>
<p>Tel: +4915150764674</p>
<a href="mailto:martin.wundsam@gmail.com">martin.wundsam@gmail.com</a>

<p class="title has-margin-top">Disclaimer - rechtliche Hinweise</p>
<p class="is-uppercase is-size-5">Auskunfts- und Widerrufsrecht</p>
<p>Sie haben jederzeit das Recht, sich unentgeltlich und unverzüglich über die zu Ihrer Person erhobenen Daten zu
    erkundigen. Ebenfalls können Sie Ihre Zustimmung zur Verwendung Ihrer angegebenen persönlichen Daten mit Wirkung für
    die Zukunft widerrufen. Hierfür wenden Sie sich bitte an den im Impressum angegebenen Diensteanbieter.</p>
<p class="is-uppercase is-size-5 has-margin-top-small">Disclaimer (Haftungsausschluss)</p>
<p class="is-uppercase is-size-5 has-margin-top-small">1. Haftung für Inhalte</p>
<p>Als Diensteanbieter sind wir gemäß § 7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
    verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
    gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
    Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen
    Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer
    konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte
    umgehend entfernen.</p>
<p class="is-uppercase is-size-5 has-margin-top-small">2. Haftung für Links</p>
<p>Diese Website enthält Links zu externen Webseiten Dritter, auf deren Inhalte kein Einfluss genommen werden kann.
    Deshalb kann für diese fremden Inhalte auch keine Gewähr übernommen werden. Für die Inhalte der verlinkten Seiten
    ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum
    Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der
    Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete
    Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden derartige Links
    umgehend von dieser Website auf die rechtsverletzende Site entfernen.</p>
<p class="is-uppercase is-size-5 has-margin-top-small">3. Urheberrecht</p>
<p>Die durch die Diensteanbieter, deren Mitarbeiter und beauftragte Dritte erstellten Inhalte und Werke auf diesen
    Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der
    Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der vorherigen schriftlichen Zustimmung des jeweiligen
    Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch
    gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter
    beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine
    Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von
    Rechtsverletzungen werden derartige Inhalte umgehend entfernen.</p>

<p class="has-margin-top-small">Dieses Impressum wurde mit Hilfe des <a target="_blank"
        href="http://www.hensche.de/impressum-generator.html">Impressum-Generators</a> von <a target="_blank"
        href="http://www.hensche.de/Rechtsanwalt_Arbeitsrecht_Stuttgart.html">HENSCHE Rechtsanw&auml;lte</a> erstellt.
</p>