---
layout: app
title: Neuigkeiten |
permalink: /news
navbar-class: is-slim
---
<div class="navbar-background"></div>
<div class="grey-element">
    <img data-src="{{ site.data.links.img.grey-element }}" class="lazyload" alt="Graues Hintergrundelement">
</div>
<section class="section">
    <h1 class="title has-margin-top has-text-centered">Alle Neuigkeiten auf einen Blick!</h1>
    <div class="columns has-margin-top">
        <div class="column">
            <div class="box is-full-height">
                <h2 class="title is-uppercase has-text-success">Neue Sensibilisierung gegen Tierhaar</h2>
                <p class="subtitle has-text-grey-lighter">11.06.2019</p>
                <p>
                    Es gibt eine neue Möglichkeit einer Tierhaarallergie entgegen zu wirken. Vor allem für Familien die
                    ihr
                    geliebtes Haustier deswegen nicht weggeben wollen, ist das eine gute Neuigkeit.
                </p>
                <p>...</p>
                <a href="/news/1.html" class="button is-primary no-arrow has-margin-top-small is-medium">Artikel lesen</a>
            </div>
        </div>
        <div class="column">
            <div class="box is-full-height">
                <h2 class="title is-uppercase has-text-success">Pollenalarm im April</h2>
                <p class="subtitle has-text-grey-lighter">23.03.2019</p>
                <p>Mit dem Frühling beginnt auch der Pollenflug, was für viele Allergiker eine Schnupfnase oder
                    brennende Augen bedeutet. Doch dies gilt nicht für die gesamte Freiluftsaison, denn in der Regel
                    reagieren Pollenallergiker nur auf einige bestimmte Pflanzensamen und nicht auf alle Pollen. Deshalb
                    sollte man im Blick haben, was aktuell für Pollen unterwegs sind.</p>
                <p>...</p>
                <a href="/news/2.html" class="button is-primary no-arrow has-margin-top-small is-medium">Artikel lesen</a>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="box is-full-height">
                <h2 class="title is-uppercase has-text-success">Neues Produkt gegen Gluten</h2>
                <p class="subtitle has-text-grey-lighter">12.03.2019</p>
                <p>Wer an Zöliakie leidet, ist in seiner Ernährung ziemlich eingeschränkt. Bei Konsum von glutenhaltigen
                    Nahrungsmitteln, haben Betroffene oft mit unangenehmen Symptomen zu kämpfen. Bisher war die einzige
                    Möglichkeit dies zu umgehen, ein strikter Verzicht auf alles was Gluten enthält. Nun gibt es aber
                    ein neues Produkt dagegen.</p>
                <p>...</p>
                <a href="/news/3.html" class="button is-primary no-arrow has-margin-top-small is-medium">Artikel lesen</a>
            </div>
        </div>
        <div class="column">
            <div class="box is-full-height">
                <h2 class="title is-uppercase has-text-success">Weiter folgen...</h2>
            </div>
        </div>
    </div>
</section>