<section class="section has-margin-top" id="carousel">
    <h3 class="title has-text-centered">Unsere Topseller</h3>
    <!-- Controls -->
    <a class="control-left no-arrow" @click="left()">
        <i class="fal fa-chevron-left fa-4x"></i>
    </a>
    <a class="control-right no-arrow" @click="right()">
        <i class="fal fa-chevron-right fa-4x"></i>
    </a>

    <!-- Frist Slide -->
    <div class="columns has-margin-top has-no-margin-mobile" v-bind:class="{ 'is-hidden': slides[0] }">
        <div class="column">
            <figure class="image has-padding-large">
                <img src="https://via.placeholder.com/250" alt="" />
            </figure>
        </div>
        <div class="column product-preview-text">
            <p class="has-text-success is-uppercase is-size-3">Lactohelp</p>
            <p class="has-text-grey-lighter">Artikelnummer: 105385-34</p>
            <p class="has-margin-top-small">
                Mit LactoHelp kannst du dein Wohlbefinden steigern und musst deine Essgewohnheiten nicht einschränken.
                Das in den Kaspeln enthaltene Enzym Lactase
                <span v-bind:class="{ 'is-hidden': !hideMore }">...</span>
                <span v-bind:class="{ 'is-hidden': hideMore }">
                    sorgt für die Spaltung des Milchzuckers und Funktionsübernahme der mangelnden Lactase im eigenen
                    Körper. Somit kann nach der Einnahme jede beliebige Mahlzeit konsumiert werden ohne Angst vor den üblichen
                    Beschwerden zu haben.
                </span>
            </p>
            <div class="buttons has-padding-top">
                <button class="button is-primary has-box-shadow is-medium" @click="showMore">
                    {% raw %}{{ button }}{% endraw %}
                </button>
                <a href="#" class="button is-primary has-box-shadow is-inverted is-medium no-arrow">Produktseite</a>
            </div>
        </div>
    </div>
</section>