<footer class="footer columns is-centered has-background-light">
    <div class="column is-9 columns">
        <div class="column">
            <p>Sitemap</p>
            <a href="#">Shop</a>
            <a href="{{ site.data.links.urls.about }}">Wir</a>
            <a href="{{ site.data.links.urls.news }}">News</a>
            <a href="{{ site.data.links.urls.contact }}">Kontakt</a>
        </div>
        <div class="column">
            <p>Soziale Medien</p>
            <a href="#" class="no-arrow" aria-label="Facebook"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="#" class="no-arrow" aria-label="LinkedIn"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="#" class="no-arrow" aria-label="Instagram"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
        <div class="column">
            <p>AllergyAid</p>
            <a href="{{ site.data.links.urls.imprint }}">Impressum</a>
            <a href="{{ site.data.links.urls.privacy }}">Datenschutz</a>
        </div>
        <div class="column">
            <p>Wir helfen bei Allergien und Unverträglichkeiten für ein besseres und befreites Lebensgefühl, dafür stehen wir.</p>
        </div>
    </div>
</footer>