<footer class="footer columns is-centered has-background-light">
    <div class="column is-9 columns">
        <div class="column">
            <p>Sitemap</p>
            <a href="#">Shop</a>
            <a href="#">Wir</a>
            <a href="#">News</a>
            <a href="#">Kontakt</a>
        </div>
        <div class="column">
            <p>Soziale Medien</p>
            <a href="#" class="no-arrow" aria-label="Facebook"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="#" class="no-arrow" aria-label="LinkedIn"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="#" class="no-arrow" aria-label="Instagram"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
        <div class="column">
            <p>AllergyAid</p>
            <a href="#">Impressum</a>
            <a href="#">Datenschutz</a>
        </div>
        <div class="column">
            <p>One morning, when Gregor Samsa woke from troubled dreams, he found
                himself transformed in his bed into a horrible vermin.</p>
        </div>
    </div>
</footer>