<footer class="footer columns is-centered">
    <div class="column is-9 columns">
        <div class="column">
            <p>Sitemap</p>
            <a href="#" class="has-text-primary has-text-weight-semibold">Shop →</a>
            <a href="#" class="has-text-primary has-text-weight-semibold">Wir →</a>
            <a href="#" class="has-text-primary has-text-weight-semibold">News →</a>
            <a href="#" class="has-text-primary has-text-weight-semibold">Kontakt →</a>
        </div>
        <div class="column">
            <p>Soziale Medien</p>
            <a href="#" class="has-text-primary"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="#" class="has-text-primary"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="#" class="has-text-primary"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
        <div class="column">
            <p>AllergyAid</p>
            <a href="#" class="has-text-primary has-text-weight-semibold">Impressum →</a>
            <a href="#" class="has-text-primary has-text-weight-semibold">Datenschutz →</a>
        </div>
        <div class="column">
            <p>One morning, when Gregor Samsa woke from troubled dreams, he found
                    himself transformed in his bed into a horrible vermin.</p>
        </div>
    </div>
</footer>