<nav class="navbar is-transparent {{ page.navbar-class }}" aria-label="main navigation" id="navbar">
    <div class="navbar-brand">
        <a class="navbar-item no-arrow" href="./index.html">
            <img src="{{ site.data.links.img.logo }}" alt="Das Logo von AllergyAid." />
            <p class="has-text-weight-bold has-text-white is-size-4">AllergyAid</p>
        </a>

        <a role="button" class="navbar-burger no-arrow" aria-label="menu" aria-expanded="false" @click="isActive = !isActive"
            :class="{ 'is-active': isActive }">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" :class="{ 'is-active': isActive }">
        <div class="navbar-end">
            <a class="navbar-item" href="#">Shop</a>
            <a class="navbar-item" href="{{ site.data.links.urls.about }}">Wir</a>
            <a class="navbar-item" href="{{ site.data.links.urls.news }}">News</a>
            <a class="navbar-item" href="{{ site.data.links.urls.contact }}">Kontakt</a>
        </div>
    </div>
</nav>