.has-bg-rectangle {
    background: url(../img/index_background.svg) no-repeat;
    
    @media (max-width: $desktop) {
        background-size: 140% auto;
    }

    @media (max-width: 550px) {
        background-size: 250% auto;
    }
}

.has-text-weight-medium {
    font-weight: 500;
}

.has-box-shadow {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.has-padding {
    padding: 1rem;

    &-large {
        padding: 3rem;
    }
}

.has-margin-y {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.has-margin-top {
    margin-top: 6rem;
}

.has-no-margin-mobile {
    @media (max-width: $tablet) {
        margin-top: 0px;
    }
}

.has-margin-top-small {
    margin-top: 1rem;
}

.has-margin-top-large {
    margin-top: 16rem;
}

.has-padding-top {
    padding-top: 3rem;
}

.has-text-light-green {
    color: $light-green;
}

.is-light-green {
    background: $light-green;
    border-color: $light-green;
    color: $white;

    &:hover {
        color: $white;
        background: darken($light-green, 10%);
        border-color: darken($light-green, 10%);
    }
}

.grey-element {
    position: absolute;
    z-index: -1;
    left: 0;
    margin-top: 11rem;
    @media (max-width: $tablet) {
        & > img {
            display: none;
        }
    }
}

.has-background-tablet {
    @media (max-width: $tablet) {
        background: $light;
    }
}

.blue-element {
    position: absolute;
    left: 0;
}

.product-preview-text {
    margin: auto 0;
}

.control {
    position: absolute;
    margin-top: 22%;
    color: $grey-lighter;

    @media (max-width: $tablet) {
        margin-top: 40%;
    }

    &-right {
        @extend .control;
        right: 10%;
        @media (max-width: $tablet) {
            right: 10px
        }
    }

    &-left {
        @extend .control;
        left: 10%;
        @media (max-width: $tablet) {
            left: 10px
        }
    }
}