.has-bg-rectangle {
    background: url(../img/index_background.svg) no-repeat;
    background-size: 100%;

    @media (max-width: $desktop) {
        background-size: 140% auto;
    }

    @media (max-width: 550px) {
        background-size: 250% auto;
    }
}

.has-box-shadow {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.has-padding {
    padding: 1rem;

    &-large {
        padding: 3rem;
    }
}

.has-margin-y {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.has-margin-top {
    margin-top: 6rem;
}

.has-no-margin-mobile {
    @media (max-width: $tablet) {
        margin-top: 0px;
    }
}

.has-margin-top-small {
    margin-top: 1rem;
}

.has-margin-top-large {
    margin-top: 16rem;
}

.has-padding-top {
    padding-top: 3rem;
}

.has-text-light-green {
    color: $light-green;
}

.is-light-green {
    background: $light-green;
    border-color: $light-green;
    color: $white;

    &:hover {
        color: $white;
        background: darken($light-green, 10%);
        border-color: darken($light-green, 10%);
    }
}

.grey-element {
    position: absolute;
    z-index: -1;
    left: 0;
    margin-top: 11rem;
    min-width: 100%;

    &>img {
        min-width: 100%;
    }

    @media (max-width: $tablet) {
        &>img {
            display: none;
        }
    }
}

.has-background-tablet {
    @media (max-width: $tablet) {
        background: $light;
    }
}

.blue-element {
    position: absolute;
    left: 0;
    min-width: 100%;

    &>img {
        min-width: 100%;
    }
}

.product-preview-text {
    margin: auto 0;
}

.controls {
    position: absolute;
    margin-top: 22%;
    color: $grey-lighter;

    @media (max-width: $tablet) {
        margin-top: 40%;
    }

    &-right {
        @extend .controls;
        right: 10%;

        @media (max-width: $tablet) {
            right: 10px
        }
    }

    &-left {
        @extend .controls;
        left: 10%;

        @media (max-width: $tablet) {
            left: 10px
        }
    }
}

.has-same-height>.column .box {
    height: 100%;
}

.disclaimer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 30%;
    height: auto;
    background: $primary;
    padding: 2%;
    border-radius: 3px;

    @media (max-width: $tablet) {
        width: calc(100% - 2rem);
    }
}

.navbar-background {
    background: linear-gradient(90deg, #91A1FD -0.8%, $primary 98.89%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-height + 1rem;
}

.is-slim>.navbar-menu.is-active .navbar-item {
    color: #606F7B;

    &::after {
        background: #606F7B;
    }
}

.unhide {
    display: block !important;
}

.woman-element {
    max-height: 40rem;
}

.is-smaller-responsive {
    @media (max-width: 1111px) {
        font-size: .75rem;
    }

    @media (max-width: $tablet) {
        font-size: 1rem;
    }
}

.is-hover-black {
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: black;
        opacity: 0;
        transition: opacity 0.1s linear;
    }

    >.hover-content {
        position: absolute;
        left: 50%;
        top: 40%;
        opacity: 0;
        transition: opacity 0.1s linear;

        @media (max-width: 1111px) {
            top: 30%;
        }

        @media (max-width: $tablet) {
            top: 40%;
        }

        >div {
            position: relative;
            left: -50%;
            top: -40%;

            @media (max-width: 1111px) {
                top: -30%;
            }

            @media (max-width: $tablet) {
                top: 40%;
            }
        }
    }

    &:hover {
        &::before {
            opacity: 0.7;
        }

        >.hover-content {
            opacity: 1;
        }
    }
}

.is-full-height {
    height: 100%;
}