---
layout: app
title: Neue Sensibilisierung gegen Tierhaar | Neuigkeiten |
permalink: /news/1
navbar-class: is-slim
---
<div class="navbar-background"></div>
<section class="section">
    <div class="columns is-centered">
        <div class="column is-7">
            <figure class="image">
                <img data-src="{{ site.data.links.img.news-1 }}" class="lazyload" alt="Hund und Katze die miteinander spielen">
            </figure>
        </div>
    </div>
    <h1 class="title has-text-centered has-margin-top">Neue Sensibilisierung gegen Tierhaar</h1>
    <p class="subtitle has-text-grey-lighter has-text-centered">11.06.2019, Mai Zhaou</p>
    <div class="columns">
        <div class="column">
            <p class="has-text-justified">
                Es gibt eine neue Möglichkeit einer Tierhaarallergie entgegen zu wirken. Vor allem für Familien die ihr
                geliebtes Haustier deswegen nicht weggeben wollen, ist das eine gute Neuigkeit.
            </p>
            <br>
            <p class="has-text-justified">
                Auslöser für die allergischen Reaktionen gegen die Tiere sind nämlich nicht die Haare oder Federn
                selbst, sondern Speichel, Haarschuppen Schweiß oder Talg an den Tierhaaren. Wenn diese Stoffe an die
                menschlichen Schleimhäute oder Haut gelangen, verursachen sie die bekannten Symptome. Mit der neuen
                Sensibilisierung gegen Tierhaare kann man dem entgegenwirken. Denn dabei werden nicht nur die Symptome
                gelindert, sondern auch die Ursache der Allergie bekämpft.
            </p>
        </div>
        <div class="is-divider-vertical"></div>
        <div class="column">
            <p class="has-text-justified">
                Langfristig könnte dies bedeuten, dass die Allergie vielleicht sogar ganz verschwindet. Die Therapie
                wird durch eine Reihe von Impfungen durchgeführt. Durch diese wird das Abwehrsystem mit kontrollierten
                Mengen des Allergens konfrontiert und sozusagen daran gewöhnt.
            </p>
            <br>
            <p class="has-text-justified">
                So kann die Überreaktion auf die eigentlich harmlosen Tierhaare verringert werden und sie werden nicht
                mehr bekämpft. Bisher ist diese Therapie noch nicht üblich und wird deswegen auch nicht von den meisten
                Krankenkassen übernommen. Sie wird aber immer mehr verbessert und sollte bald für alle zugänglich sein.
            </p>
        </div>
    </div>
    <div class="has-text-centered has-margin-top-small">
        <a href="{{ site.data.links.urls.news }}" class="button no-arrow is-primary is-medium">
            Zurück
        </a>
    </div>
</section>