---
layout: app
permalink: /news/1
navbar-class: is-slim
---
<div class="navbar-background"></div>
<section class="section">
    <div class="columns is-centered">
        <div class="column is-7">
            <figure class="image">
                <img src="{{ site.data.links.img.news-1 }}" alt="Hund und Katze die miteinander spielen">
            </figure>
        </div>
    </div>
    <h1 class="title has-text-centered has-margin-top">Neue Sensibilisierung gegen Tierhaar</h1>
    <p class="subtitle has-text-grey-lighter has-text-centered">11.06.2019, Mai Zhaou</p>
    <div class="columns">
        <div class="column">
            <p class="has-text-justified">
                Es gibt eine neue Möglichkeit einer Tierhaarallergie entgegen zu wirken. Vor allem für Familien die ihr
                geliebtes Haustier deswegen nicht weggeben wollen, ist das eine gute Neuigkeit.
            </p>
            <br>
            <p class="has-text-justified">
                Auslöser für die allergischen Reaktionen gegen die Tiere sind nämlich nicht die Haare oder Federn
                selbst, sondern Speichel, Haarschuppen Schweiß oder Talg an den Tierhaaren. Wenn diese Stoffe an die
                menschlichen Schleimhäute oder Haut gelangen, verursachen sie die bekannten Symptome. Mit der neuen
                Sensibilisierung gegen Tierhaare kann man dem entgegenwirken.
            </p>
        </div>
        <div class="is-divider-vertical"></div>
        <div class="column">
            <p class="has-text-justified">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus iusto a eos vel eligendi. Ex officia
                impedit esse velit incidunt sapiente officiis quidem iste dolore maiores. Reiciendis nisi obcaecati
                sunt!
            </p>
            <br>
            <p class="has-text-justified">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem dolorem, aspernatur explicabo eius
                dignissimos incidunt accusantium doloremque sapiente accusamus, quasi veritatis! Ut ea voluptatum, vitae
                nihil et iste hic cupiditate, aliquam vero tenetur ratione sed animi excepturi perferendis eaque esse!
            </p>
        </div>
    </div>
    <div class="has-text-centered has-margin-top-small">
        <a href="{{ site.data.links.urls.news }}" class="button no-arrow is-primary is-medium">
            Zurück
        </a>
    </div>
</section>