---
layout: app
title: Pollenalarm im April | Neuigkeiten |
permalink: /news/2
navbar-class: is-slim
---
<div class="navbar-background"></div>
<section class="section">
    <div class="columns is-centered">
        <div class="column is-7">
            <figure class="image">
                <img src="{{ site.data.links.img.news-2 }}" alt="Feld voller gelber Blumen mit Baum im Hintergrund">
            </figure>
        </div>
    </div>
    <h1 class="title has-text-centered has-margin-top">Pollenalarm im April</h1>
    <p class="subtitle has-text-grey-lighter has-text-centered">23.03.2019, Christopher Clark</p>
    <div class="columns">
        <div class="column">
            <p class="has-text-justified">
                Mit dem Frühling beginnt auch der Pollenflug, was für viele Allergiker eine Schnupfnase oder brennende
                Augen bedeutet. Doch dies gilt nicht für die gesamte Freiluftsaison, denn in der Regel reagieren
                Pollenallergiker nur auf einige bestimmte Pflanzensamen und nicht auf alle Pollen. Deshalb sollte man im
                Blick haben, was aktuell für Pollen unterwegs sind.
            </p>
            <br>
            <p class="has-text-justified">
                Der April ist die Hauptzeit für den Pollenflug in Deutschland. Vor allem Baum-, Gräser-, oder
                Kräuterpollen sind unterwegs. Durch milde Temperaturen beginnen viele Pflanzen nach dem Winter wieder zu
                blühen und spätestens dann fängt für Allergiker mit Heuschnupfen die für sie schlimmste Zeit des Jahres
                an.
            </p>
        </div>
        <div class="is-divider-vertical"></div>
        <div class="column">
            <p class="has-text-justified">
                Aber wie gesagt sind Betroffene in der Regel gegen nicht alle Pollen, die unterwegs sind, allergisch.
                Mit einem Allergietest beim Arzt lässt sich genau bestimmen auf welche Pollen man reagiert.
            </p>
            <br>
            <p class="has-text-justified">
                Somit kann man mit einem Blick in den Pollen-Kalender abschätzen, wann diese Pollenart unterwegs ist und
                sich zum Beispiel mit unserem PollBlock davor schützen. Den Tag kann man dadurch unbeschwert genießen
                und muss sich nicht dauernd um eine ständig laufende Nase kümmern.
            </p>
        </div>
    </div>
    <div class="has-text-centered has-margin-top-small">
        <a href="{{ site.data.links.urls.news }}" class="button no-arrow is-primary is-medium">
            Zurück
        </a>
    </div>
</section>