---
layout: app
permalink: /news/2
navbar-class: is-slim
---
<div class="navbar-background"></div>
<section class="section">
    <div class="columns is-centered">
        <div class="column is-7">
            <figure class="image">
                <img src="{{ site.data.links.img.news-2 }}" alt="Feld voller gelber Blumen mit Baum im Hintergrund">
            </figure>
        </div>
    </div>
    <h1 class="title has-text-centered has-margin-top">Pollenalarm im April</h1>
    <p class="subtitle has-text-grey-lighter has-text-centered">23.03.2019, Christopher Clark</p>
    <div class="columns">
        <div class="column">
            <p class="has-text-justified">
                Mit dem Frühling beginnt auch der Pollenflug, was für viele Allergiker eine Schnupfnase oder brennende
                Augen bedeutet. Doch dies gilt nicht für die gesamte Freiluftsaison, denn in der Regel reagieren
                Pollenallergiker nur auf einige bestimmte Pflanzensamen und nicht auf alle Pollen. Deshalb sollte man im
                Blick haben, was aktuell für Pollen unterwegs sind.
            </p>
            <br>
            <p class="has-text-justified">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia sequi doloremque odio iure dolor,
                optio quisquam a officiis. Est, delectus.
            </p>
        </div>
        <div class="is-divider-vertical"></div>
        <div class="column">
            <p class="has-text-justified">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus iusto a eos vel eligendi. Ex officia
                impedit esse velit incidunt sapiente officiis quidem iste dolore maiores. Reiciendis nisi obcaecati
                sunt!
            </p>
            <br>
            <p class="has-text-justified">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem dolorem, aspernatur explicabo eius
                dignissimos incidunt accusantium doloremque sapiente accusamus, quasi veritatis! Ut ea voluptatum, vitae
                nihil et iste hic cupiditate, aliquam vero tenetur ratione sed animi excepturi perferendis eaque esse!
            </p>
        </div>
    </div>
    <div class="has-text-centered has-margin-top-small">
        <a href="{{ site.data.links.urls.news }}" class="button no-arrow is-primary is-medium">
            Zurück
        </a>
    </div>
</section>