---
layout: app
title: Neues Produkt gegen Gluten | Neuigkeiten |
permalink: /news/3
navbar-class: is-slim
---
<div class="navbar-background"></div>
<section class="section">
    <div class="columns is-centered">
        <div class="column is-7">
            <figure class="image">
                <img src="{{ site.data.links.img.news-3 }}" alt="Verschiedene Arten von Brot">
            </figure>
        </div>
    </div>
    <h1 class="title has-text-centered has-margin-top">Neues Produkt gegen Gluten</h1>
    <p class="subtitle has-text-grey-lighter has-text-centered">12.03.2019, Katharina Stein</p>
    <div class="columns">
        <div class="column">
            <p class="has-text-justified">
                Wer an Zöliakie leidet, ist in seiner Ernährung ziemlich eingeschränkt. Bei Konsum von glutenhaltigen
                Nahrungsmitteln, haben Betroffene oft mit unangenehmen Symptomen zu kämpfen. Bisher war die einzige
                Möglichkeit dies zu umgehen, ein strikter Verzicht auf alles was Gluten enthält. Nun gibt es aber ein
                neues Produkt dagegen.
            </p>
            <br>
            <p class="has-text-justified">
                Es wird zwar noch genauer erforscht und befindet sich in der Entwicklungsphase, aber dieses Produkt ist
                ziemlich vielversprechend. Es wurden auch schon erste Tests durchgeführt, die gut verlaufen sind. Nun
                aber zum Produkt an sich. Laut den Entwicklern soll es die Symptome von Zöliakie lindern und
                vielleicht auch vollständig beseitigen. Zwar bekämpft es nicht die Allergie direkt durch ein Eingreifen
                in das Abwehrsystem, sondern attackiert die Gluten-Moleküle und macht sie für den Körper unschädlich.
            </p>
        </div>
        <div class="is-divider-vertical"></div>
        <div class="column">
            <p class="has-text-justified">
                Dabei wird sich die Immunreaktion im Körper zu nutzen gemacht. Denn unser Körper produziert Antikörper,
                die wie ein Schlüssel zum Schloss in die eindringenden Antigene passen.
            </p>
            <br>
            <p class="has-text-justified">
                Diese werden dadurch unschädlich gemacht und der Körper stößt sie nicht ab. Mit diesem Prinzip, wird
                gerade ein Antikörper entwickelt, der das ein eindringende Gluten-Molekül blockieren kann und somit eine
                Reaktion des Körpers darauf verhindert. Die Symptome werden also unterdrückt und für den Betroffenen ist
                ein Konsum von glutenhaltigen Lebensmitteln wieder ohne Beschwerden möglich.
            </p>
        </div>
    </div>
    <div class="has-text-centered has-margin-top-small">
        <a href="{{ site.data.links.urls.news }}" class="button no-arrow is-primary is-medium">
            Zurück
        </a>
    </div>
</section>