<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>{{ site.title }}</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.data.links.css }}">

</head>
<body>
    <div id="app">
        <!-- Navbar -->

        <!-- Content -->
        {{ content }}

        <!-- Footer -->
    </div>
</body>
<!-- Scripts -->
</html>