<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Page Title -->
    <title>{{ site.title }}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.data.links.css }}" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF" crossorigin="anonymous" />
</head>

<body class="{{ page.background-class }}">
    <div id="app">
        <div class="columns is-centered">
            <div class="column is-9">
                <!-- Navbar -->
                {% include navbar.html %}

                <!-- Content -->
                {{ content }}
            </div>
        </div>

        <!-- Footer -->
        {% include footer.html %}
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="{{ site.data.links.js }}"></script>
</body>

</html>