<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#7886D7" />
    <meta name="description" content="{{ site.description }}">

    <!-- Page Title -->
    <title>{{ page.title }} {{ site.title }}: Ihre Anlaufstelle bei Allergien und Unverträglichkeiten</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ site.data.links.css }}" />
    <!-- _Font: Montserrat -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700">
    <!-- _Icons: FontAwesome -->
    <link rel="stylesheet" href="{{ site.data.links.font-awesome }}">
</head>

<body class="{{ page.background-class }}">
    <div id="app">
        <div class="columns is-centered">
            <div class="column is-9">
                <!-- Navbar -->
                {% include navbar.html %}

                <!-- Content -->
                {{ content }}
            </div>
        </div>

        <!-- Footer -->
        {% include footer.html %}
    </div>

    <!-- Disclaimer -->
    {% include disclaimer.html %}

    <!-- Scripts -->
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script defer src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
    <script defer src="{{ site.data.links.js }}"></script>
    {{ page.javascript }}
</body>

</html>