---
layout: product_page
permalink: /shop/product/2
title: Pollblock | Produkte |
product_name: Pollblock
product_id: 107253-96
product_img: /assets/img/product_2.png
javascript: <script defer src="/assets/js/cookie.js"></script>
---
<p>Wenn Sie die Symptome Ihrer Pollenallergie Leid sind, probieren Sie unser Produkt PollBlock aus.</p>
<br>
<p>Es behindert die Freisetzung von Histamin und anderen Entzündungsstoffen
    aus den Immunzellen, die bei der Allergie eine maßgebliche Rolle spielen.</p>
<br>
<p>So können Sie die Zeit an der frischen Luft genießen ohne übliche Beschwerden.</p>

<div id="cookie">
    <div class="notification is-danger has-margin-top-small is-hidden" :class="{ unhide: !canSetCookie() }">
        <p class="has-text-white">Um Gegenstände in den Warenkorb legen zu können müssen Cookies akzeptiert werden. Bei
            Ihnen sind diese nicht aktiv!</p>
    </div>
    <table class="table has-margin-top is-fullwidth is-hoverable is-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Einheit</th>
                <th>Größe</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pollblock Tester</td>
                <td>[Pillen]</td>
                <td>5</td>
                <td><a href="{{ site.data.urls.shop }}" @click="addToCookie('cart', 'Pollblock Tester')">In den
                        Warenkorb</a></td>
            </tr>
            <tr>
                <td>Pollblock Travel</td>
                <td>[Pillen]</td>
                <td>30</td>
                <td><a href="{{ site.data.urls.shop }}" @click="addToCookie('cart', 'Pollblock Travel')">In den
                        Warenkorb</a></td>
            </tr>
            <tr>
                <td>Pollblock Home</td>
                <td>[Pillen]</td>
                <td>250</td>
                <td><a href="{{ site.data.urls.shop }}" @click="addToCookie('cart', 'Pollblock Home')">In den
                        Warenkorb</a></td>
            </tr>
            <tr>
                <td>Pollblock Unlimited</td>
                <td>[Pillen]</td>
                <td>2500</td>
                <td><a href="{{ site.data.urls.shop }}" @click="addToCookie('cart', 'Pollblock Unlimited')">In den
                        Warenkorb</a></td>
            </tr>
        </tbody>
    </table>
</div>