---
layout: product_page
permalink: /shop/product/3
product_name: Hairresist
product_id: 101052-32
product_img: /assets/img/product_3.png
javascript: <script defer src="/assets/js/cookie.js"></script>
---
<p>Müssen Sie in Gegenwart Ihrer Haustiere ständig nießen?</p>
<br>
<p>Dann empfehlen wir Ihnen unser Produkt HairResist.</p>
<br>
<p>Es bekämpft schnell und umfassend die Allergiesymptome
    und wirkt bei nur bei einmal täglicher Einnahme bis zu 24 Stunden.</p>
<br>
<p>Damit können Sie wieder unbesorgt mit Ihren Haustieren Zeit verbringen.</p>
<table class="table has-margin-top is-fullwidth is-hoverable is-striped" id="cookie">
    <thead>
        <tr>
            <th>Name</th>
            <th>Einheit</th>
            <th>Größe</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hairresist Tester</td>
            <td>[Tabletten]</td>
            <td>5</td>
            <td><a href="{{ site.data.urls.shop }}" @click="addToCookie('cart', 'Hairresist Tester')">In den Warenkorb</a></td>
        </tr>
        <tr>
            <td>Hairresist Pocket</td>
            <td>[Tabletten]</td>
            <td>30</td>
            <td><a href="{{ site.data.urls.shop }}" @click="addToCookie('cart', 'Hairresist Pocket')">In den Warenkorb</a></td>
        </tr>
        <tr>
            <td>Hairresist Depot</td>
            <td>[Tabletten]</td>
            <td>250</td>
            <td><a href="{{ site.data.urls.shop }}" @click="addToCookie('cart', 'Hairresist Depot')">In den Warenkorb</a></td>
        </tr>
        <tr>
            <td>Hairresist XXL</td>
            <td>[Tabletten]</td>
            <td>2500</td>
            <td><a href="{{ site.data.urls.shop }}" @click="addToCookie('cart', 'Hairresist XXL')">In den Warenkorb</a></td>
        </tr>
    </tbody>
</table>